$iconWidth: 56px;

.sidenav-toggle {
  display: none; //be default it will not be displayed

  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex; //display as a flex container when on mobile
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }

}

.example-spacer {
  flex: 1 1 auto;
}
